    @import '_variables';
    @mixin transition($in) {
        transition: $in;
        -webkit-transition: $in;
        -moz-transition: $in;
        -o-transition: $in;
        -ms-transition: $in;
    }
    
    .button-profile-info {
        outline: none;
        border: none;
        display: block;
        background-color: transparent;
        position: relative;
        border: 2px solid $green;
        @include transition(all 0.5s ease);
    }
    
    .button-animation-slide-right {
        overflow: hidden;
        span {
            color: $green;
            display: inline-block;
            @include transition(all 0.3s ease);
        }
        .icon {
            position: absolute;
            left: -60px;
            top: 0;
            color: #fff;
            padding: 0 20px;
            background-color: $green;
            @include transition(all 0.3s ease);
        }
        &:hover,
        &:focus {
            border: 2px solid $green;
            .icon {
                left: 0px;
            }
            span {
                color: $green;
                margin-left: 50px;
            }
        }
    }
    
    .button-animation-slide-down {
        overflow: hidden;
        color: #fff;
        .layer {
            color: #fff;
            position: absolute;
            top: -70px;
            width: 100%;
            left: 0;
            padding: 0;
            background-color: $green;
            @include transition(all 0.3s ease);
        }
        &:hover {
            .layer {
                top: 0;
            }
        }
    }