<%- contentFor('body') %>

<div class="profile-header-wrapper">
    <div class="profile-header">
        <div class="profile-image"></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="offset-by-three six columns">
            <h1 class="text-center">Simon Aspinall</h1>
        </div>
    </div>
    <div class="row">
        <div class="offset-by-two eight columns">
            <h2 class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis consectetur aspernatur fugiat.</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="two columns">
            <div class="profile-badge">
                <span>10 Watchers</span>
            </div>
        </div>
        <div class="two columns">
            <div class="profile-badge">
                <span>40 Watching</span>
            </div>
        </div>
        <div class="offset-by-five three columns">
            <button class='button-profile-watch button-animation-slide-right'>
                <div class='icon'>
                    <i class="fa fa-video-camera" aria-hidden="true"></i></div>
                <span>Watch</span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <h3>Lorem ipsum dolor sit amet.</h3>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <div class="video-wrapper">
                <video controls preload="none" class="profile-video"> 
                    <source src="parrots.mp4" type="video/mp4"> 
                    <source src="parrots.webm" type="video/webm">
                </video>
            </div>
        </div>
    </div>
</div>